body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.center {
    display: flex;
    justify-content: center;
}
