openapi: 3.0.1
info:
  title: Public transport ticket endpoint
  description: >
    This is an application which is simulate a public transport ticket handling.
    This application based on Budapest public transport (BKK) ticket types.
  contact:
    email: karoly.froemel@gmail.com
  version: 1.0.0
servers:
  - url: http://localhost:8080

paths:
  /tickets:
    get:
      tags:
        - ticket
      operationId: getTicketTypes
      summary: Get all ticket types
      description: Get all types of tickets to shhow it for the user.
      responses:
        '200':
          description: Get all types of tickets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketType'
        '404':
          description: Ticket not found!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message

    TicketType:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: integer
      required:
        - name
        - description
        - price