<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title>Tickep purchase page</title>
    <link rel="stylesheet" href="css/navbar.css"/>
</head>
<body>


<div class="container">
    <div class="navbar">
        <a href="#"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a>
        <a class="active" href="ticketPurchasePage"><i class="fa fa-money" aria-hidden="true"></i> Buy ticket</a>
        <a href="#"><i class="fa fa-fw fa-ticket" aria-hidden="true"></i> Validate ticket</a>
        <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> My tickets</a>
        <a href="#"><i class="fa fa-eraser" aria-hidden="true"></i> Refound ticket</a>
        <a href="#"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i> Contact</a>
        <a href="#"><i class="fa fa-fw fa-user" aria-hidden="true"></i> Login</a>
    </div>
    <div class="row">
        <h1 style="text-align: center;"> My tickets </h1>
        <table>
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>